body {
    background : linear-gradient(-150deg, blue, white);
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);
  padding: 30px 20px;
  text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 35px;
    color: white;
}

#input-container{
    margin-bottom: 20px;
}

#input-container #city-input{
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
}

#input-container button{
    border: none;
    background: linear-gradient(90deg, blue, lightblue);
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#input-container button:hover{
   background: linear-gradient(90deg, rgb(54, 54, 223), rgb(133, 198, 219));
}

#weather-info p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    color: white;
}

#weather-info #weather-desc{
    font-style: italic;
}

#weather-info #weather-icon{
    font-size: 6rem;
}
