body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffecd2, #fcb69f); 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background-color: #fffaf0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

#form-container {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


#add-expense {
  background-color: #ff6f61;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#add-expense:hover {
  background-color: hsl(5, 100%, 59%);
}

#expense-list {
  list-style: none;
  padding: 0;
}

#expense-list li {
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 1.3rem;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#expense-list button {
  border: none;
  padding: 6px 12px;
  font-size: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#expense-list button:hover {
  background-color: hsl(0, 0%, 90%);
  border-radius: 50%;
}


#total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
